<div class='timeline' #timeline [style.transform]='transform()'>
    <div class='segment' *ngFor='let segment of segments' [attr.data-segment]='segment.id'>
        <div class='section' *ngFor='let section of segment.sections' [attr.data-section]='section.id'>
            <div class='second' *ngFor='let second of section.seconds' [attr.data-offset]='second'
                 [style.background]='bgStyle(segment, second)'
            >
            </div>
        </div>
    </div>
</div>
<app-troubledwaters-player></app-troubledwaters-player>
