@import '../../../../common.less';

.wrapper {
    position: absolute;
    right: 8px;
    height: 100%;
    top: 0;
    pointer-events: none;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    filter: drop-shadow(0px 0px 8px rgba(14, 96, 71, 0.25));

    .player {
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        position: relative;

        .icon {
            width: 32px;
            height: 32px;
            margin: 0 -16px;
            z-index: 1;
            pointer-events: all;
            cursor: pointer;
        }
    }

    .interviewees {
        display: flex;
        flex-flow: column;
        align-items: center;    
        overflow: scroll-y;
        .no-scrollbars;
        width: 120px;
        height: 100%;
        overflow-y: scroll;
        pointer-events: all;

        .interviewee {
            display: block;
            flex: 0 0 auto;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            pointer-events: all;
            margin-bottom: 32px;
            transition-property: width height;
            transition-duration: 1000ms;
            transition-timing-function: linear;
            border-width: 2px;
            border-style: solid;

            &.active {
                width: 120px;
                height: 120px;
                border-radius: 60px;
                border-width: 4px;
            }
        }
    
        .filler {
            width: 1px;
            flex: 0 0 ~'calc(50% - 30px)';
        }    
    }
}

