<div class='title'>
    <h1>Speculative Tourism: Sea change</h1>
    <h2>A turn of the tide in the Mediterranean</h2>    
    <img class='close' src='assets/img/wawb-close.svg' (click)='close.emit()'>
</div>

<p>
    Live liquidity mapping provides ad-hoc, user-driven exploration of data through charts, graphs and tables. Unlike traditional tools, however, real-time analytics allow users to explore information that is literally live – with just milliseconds of latency between the time that data changes and the time when the liquidity data is sliced and diced on behalf of the user.
    They allow more time to be spent on larger orders, as sales traders are freed up by the increasing ability of technology to provide live order information enabling smaller orders to be processed more quickly.
</p>