<div class='layout left'>
    <ng-content select='.content'></ng-content>
    <div class='header' >
      <a class="white" href='/'>
        <img class='logo layout-mobile' src='assets/img/m6-globe-logo-left-b.svg'>
        <img class='logo layout-desktop' src='assets/img/m6-globe-logo-up-b.svg'>
      </a>
        <div class='text'>
            <ng-content select='.header-title'></ng-content>
        </div>
        <img class='info' src='assets/img/m6-info-icon-b.svg' (click)='info.emit(true)'>
    </div>
</div>
