.title-section__inner {
  height: 606px;
}

.title-section__title {
  position: relative;
  z-index: 2;
  margin: 0;
  color: var(--black);
}

.title-section--white {
  color: white;
}

@media (max-width: 960px) {
  .title-section__inner {
    height: 328px;
  }
}